body {
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size: cover;
}
h1 {
    color: antiquewhite;
    font-style: oblique;
}
a{
    color: azure;
    font-style: oblique;
    font-size: larger;
    word-spacing:0mm
}
body{
    text-align: center;
    color: #262626;
}
